body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;

}

.w {
  background-color: rgb(11, 20, 99);
  box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}
.a {
  background-color: rgb(11, 20, 99);box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}
.s {
  background-color: rgb(11, 20, 99);box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}
.d {
  background-color: rgb(11, 20, 99);box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}
.j {
  background-color: rgb(11, 20, 99);box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}
.k {
  background-color: rgb(11, 20, 99);box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}
.l {
  background-color: rgb(11, 20, 99);box-shadow: 10px 15px 15px rgb(0, 0, 0);
  font-family:'Poor Story',cursive;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #da0404;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
